$variant: 'dark';

@import 'gnome-shell-sass/_colors';

$pfx: 'extension-list';

.#{$pfx}-scroll {
    max-height: 50em;
}

.#{$pfx}-label {
    max-width: 14em;
    &:error { color: $error_color; }
    &:outdate { color: $warning_color; }
    &:focus { color: $selected_bg_color; font-weight: bold }
}

.#{$pfx}-iconbtn {
    &:focus { color: $selected_bg_color; }
    &:hover { color: lighten($selected_bg_color, 5%); }
}
