.extension-list-item {
    /* max-width: 20em; */
}

.extension-list-label {
    max-width: 16em;
}

.extension-list-label:error {
    color: red;
}

.extension-list-label:outdate {
    color: orange;
}

.extension-list-setting-button {
    padding: 0 0.5em;
}

.extension-list-button:hover {
    color: deepskyblue;
}
