$contrast: 'normal';

@import 'gnome-shell-sass/_colors';

$pfx: 'extension-list';

@function st-tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), st-darken($color, $percent), st-lighten($color, $percent))
}

.#{$pfx}-view {
    max-height: 40em;
}

.#{$pfx}-label {
    max-width: 14em;
    &:state-error { color: $error_color; }
    &:state-outdate { color: $warning_color; }
    &:state-immutable { color: $insensitive_fg_color; }
    &:focus { outline: 0.15em solid st-transparentize(-st-accent-color, 0.3); }
}

.#{$pfx}-icon {
    padding: 0 0.15em;
    &:hover { color: st-tone(-st-accent-color, 5%); }
    &:focus { outline: 0.15em solid st-transparentize(-st-accent-color, 0.3); }
}
