// SPDX-FileCopyrightText: tuberry
// SPDX-License-Identifier: GPL-3.0-or-later

$contrast: 'normal';

@import 'gnome-shell-sass/_colors';

$pfx: 'extension-list';

@function tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), darken($color, $percent), lighten($color, $percent))
}

@function st-tone($color, $percent: 10%, $reverse: true){
    @return if($variant==if($reverse, 'light', 'dark'), st-darken($color, $percent), st-lighten($color, $percent))
}

.#{$pfx}-view {
    max-height: 40em;
}

.#{$pfx}-label {
    max-width: 16em;
    &:state-error { color: $error_color; }
    &:state-update { color: $success_color; }
    &:state-outdated { color: $warning_color; }
    &:state-ignored { color: tone($insensitive_fg_color, 5%); }
    &:focus { outline: 0.15em solid -st-accent-color; }
}

.#{$pfx}-icon {
    padding: 0 0.15em;
    &:hover { color: st-tone(-st-accent-color, 8%); }
    &:focus { outline: 0.15em solid st-tone(-st-accent-color, 4%); }
}
